* {

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;

}


body {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #8daab6

}

button {
  width:70px;
  height:70px;
}
.calculator-grid  {  

  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px); 
  grid-template-rows: minmax(120px, auto) repeat(5,100px);

    
}
/*  
 .calcultaor-grid button  {

   cursor: pointer; 
   font-size: 2rem
   width: 150px;
   height: 150PX;
   color: #fff;
   background:#0c2835;
   place-items: center;
   border: 1px solid rgba(0,0,0,.1) 

 }
