body{
    background-color: rgb(101, 132, 218);
    font-family: "Montserrat", "Segoe UI", sans-serif;
    margin: 0;
	width: 100%;
	min-height: 100vh;
    align-items: center;
}


.section {
    height: 700px;
    width: 90%;
    border: 2px solid black ; 
    display: flex;
    background-color: cornsilk;
    justify-content: space-between;
    grid-template-columns: 2fr ;
    grid-template-rows: auto;
    border-radius: 10px;  
    flex-wrap: wrap;
    padding: 15px;
    margin: auto;
    
}

.nav {
	background-color: var(--clr-sec);
	padding: 20px 30px;
	border-radius: 20px;
    display: flex;
    border: 2px solid black ; 
	align-items: center;
	justify-content: space-between;
    margin-top: 80px;
    width: 190%;
    height: 100px;
}

a {
	color: var(--clr-link);
    align-items: center;
    display: inline-block;
	text-decoration: none;  
}


.nav ul {
	list-style: none;
	display: flex;
	font-size: 14px;
	gap: 20px; 
}

.name{
    display: inline-block;
    display: flex;
    
    align-items:center ;
    border: 2px solid black; 
    border-radius: 20px;
    margin-top: 100px;
    height: 50vh;
    width: 50vw; 
}

/* .name, h1{
    text-align: ;
} */