*{  
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

:root{
    
}




body{
    background-color: rgb(74, 102, 182);
    margin: 0;
	width: 100%;
	min-height: 100vh;   
}


.section {
    height: 700px;
    width: 90%;
    border: 2px solid black ; 
    display: flex;
    background-color: cornsilk;
    justify-content: space-between;
    border-radius: 20px;  
    flex-wrap: wrap;
    padding: 15px;
    margin: 30px auto;
    
}

.nav {
	padding: 20px 30px;
	border-radius: 20px;
    display: flex;
    border: 2px solid black ; 
	align-items: center;
	justify-content: space-between;
    margin-top: 10px;
    width: 150%;
    height: 50px;
}

.nav ul {
	list-style: none;
	display: flex;
	font-size: 14px;
	gap: 20px; 
}

a {
	color: var(--clr-link);
    align-items: center;
    display: inline-block;
	text-decoration: none;  
}

.name{
    display: inline-block;
    display: flex;
    /* align-items:center ; */
    border: 2px solid black; 
    border-radius: 20px;
    position: relative;
    height: 50vh;
    width: 60vw; 
}

.name h1{
   
 }  