.sectiongridarea{
    border: 1px solid black;
    background-color: gainsboro;
    height: 80vh;
    width: 50vw;
    display: grid;
    margin: auto;
    grid-template-columns: 1.5fr 1.5fr 1.2fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 0.8fr 0.5fr;
    grid-gap: 10px 5px;

    grid-template-areas:
    "header header header "
    "hero main main"
    "sidebar extra extra"
    "related related post "
    "footer footer footer ";
}

div {
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
  }

.greenbox {
    grid-area : header;
    background-color: lightgreen;
}

.purplebox {
    grid-area : main;
    background-color: violet;

}

.pinkbox{
    grid-area : hero;
    background-color: lightpink;
}

.bluebox{
    grid-area : sidebar;
    background-color: lightblue;
}

.redbox{
    grid-area: extra content;
    background-color: red;
}

.orangebox{
    grid-area: related;
    background-color: orange;
}

.graybox{
    grid-area: post;
    background-color: gray;

}

.blackbox{
    grid-area: footer;
    background-color: black;
}