.container {
    display: flex;
    /*seeting the columns*/
    width: 450px;
    height: 250px;
    justify-content: space-around;
    border: 3px dashed rgba(57, 90, 47, 0.35);
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    gap :20px;
    padding: 5px;
  }
  
  .item{
    background-color: rgb(236, 226, 84);
   
    width: 50px;
    height: 50px;
    
  }

  .box2{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column-gap: 20px;

}
  
 .box1 ,.box3 {
 display: flex ;
 justify-content: space-between;
 flex-direction:column ;
}
 