.container {
    display: grid;
    border: 1px solid grey;
    /*seeting the columns*/
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed rgba(83, 128, 71, 0.35);
  }
  
  .red {
      background-color: rgb(240, 121, 121);
  }

  .blue{
      background-color: royalblue;
  }

  .orange{
      background-color: rgb(241, 183, 75);
      grid-column: span 2; 
     
  }